.menu-item {
    margin: 0;

    .image {
        height: 240px;
        background: #F5F5F5;
        position: relative;
        margin: 0;

        div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }

    .title {
        font-weight: normal;
        padding: 0;
        margin: 12px 0 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 24px;
        font-size: 16px;
        color: #1F1F1F;
        overflow: hidden;
        -ms-content-zoom-limit: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    ul.info {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 20px;
            font-size: 14px;
            color: #757575;
            overflow: hidden;
            -ms-content-zoom-limit: grayscale;
            -webkit-font-smoothing: antialiased;
            margin-right: 3px;
            &::before{
                content: "•";
                margin-right: 3px;
            }
        }
    }
    ul.price {
        margin: 8px 0 0;
        padding: 0;

        li {
            padding: 2px 8px;
            margin-right: 8px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 20px;
            font-size: 14px;
            background-color: #F5F5F5;
            color: #1F1F1F;
            overflow: hidden;
            -ms-content-zoom-limit: grayscale;
            -webkit-font-smoothing: antialiased;
            .star{
                font-size: 18px;
                &.gold{
                    color: #ffc552;
                }
            }
        }
    }
}